<section class="contact_info_area sec_pad bg_color">
    <div class="container">

        <div class="contact_form">
            <form class="contact_form_box" method="post" id="contactForm" novalidate="novalidate">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_40 mb_40 head-control">Annual Maintenance Contract</h2>
                        <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mb_40 head-control">#640000036</h2>
                        <p>
                            Customer Referance
                            <b class="b-contract">PO No. 123629</b>
                        </p>
                        <p>
                            Total Amount
                            <b class="b-contract">50,000 EGP</b>
                        </p>
                        <p>
                            Billing Plan
                            <b class="b-contract">Quarterly</b>
                        </p>
                        <div class="dates">
                            <div class="date start-d">
                                <img src="~/FrontAssets/img/start.svg" />
                                <div class="start-d-text">
                                    <p></p>
                                    <span>Start Date</span>
                                    <h4>27.02.2023</h4>
                                </div>
                            </div>
                            <div class="date end-d">
                                <img src="~/FrontAssets/img/end.svg" />
                                <div class="end-d-text">
                                    <p></p>
                                    <span>End Date</span>
                                    <h4>28.02.2024</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box-payment-contract">
                                    <h4>12500 EGP</h4>
                                    <p>1.1.2024</p>
                                    <p>payment is not due</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-payment-contract">
                                    <h4>12500 EGP</h4>
                                    <p>1.4.2024</p>
                                    <p>payment is not due</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-payment-contract collected">
                                    <h4>12500 EGP</h4>
                                    <p>31.3.2023</p>
                                    <p><b>Billed &nbsp; &nbsp; &nbsp;  Collected</b></p>
                                    <div class="circle-check">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-payment-contract">
                                    <h4>12500 EGP</h4>
                                    <p>1.8.2024</p>
                                    <p>payment is not due</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</section>
<section class="contact_info_area bg_color">
    <div class="container rating-border">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="rating">
                    <h3 class="text-center">How was your dealings with us ?</h3>
                    <div class="row">

                        <div class="rate col-md-6">


                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>

                        </div>
                        <div class="col-md-4">
                            <button class="btn-submit-rating btn_get btn_get_two login-btn-nav btn_hover ">Submit Rate</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(function () {
            $("a[href$='/Home/Index']").parent().removeClass("active");
            $("a[href$='/Home/Contract']").addClass("active");
            $("a[href$='/Home/Contract']").parent().addClass("active");
        });
    </script>
}