<section class="agency_banner_area bg_color">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">

            <div>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item carousel-services  active">
                <img src="~/FrontAssets/img/slider/MZP08238 (1) Edited.jpg" class="d-block w-100">

            </div>
            <div class="carousel-item carousel-services">
                <img src="~/FrontAssets/img/slider/DSC08765 Edited.jpg" class="d-block w-100">

            </div>
            <div class="carousel-item carousel-services">
                <img src="~/FrontAssets/img/slider/MZP08229 (1).jpg" class="d-block w-100">

            </div>


        </div>
        <div class="container">
            <div class="row">
                <button class="request-order-slider" onclick="window.location.href='@Url.Action("newReq", "Home")'">Request Order</button>

            </div>
        </div>

    </div>
</section>
<section class="support_price_area sec_pad agency_service_area bg_color" id="services">
    <div class="container-fluid custom_container price_content">
        <div class="wpb_wrapper">
            <div class="theme-component-header-subheader aligncenter text-center mb_90 wow fadeInUp">
                <h2 class="theme-component-header-subheader-header theme-header-underline">Services</h2>
                <!-- <div class="theme-component-header-subheader-subheader">Choose service and order</div> -->
            </div>
        </div>
        <div class="price_content price_content_two">
            <div class="row event_team_slider owl-carousel">
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC08723 (1).jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC08732.jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC08771.jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC08812.jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC08830.jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC09371.jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>
                <div class="item">
                    <div class="price_item">
                        <img src="~/FrontAssets/img/services/DSC09455.jpg" alt="">
                        <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Service Name</h5>
                        <p>When the device shows signs of a problem, such as an increase in temperature or an increase in power consumption, we immediately intervene to determine the cause of the problem and fix it.</p>
                        <sub class="f_size_16 f_400"></sub>
                        <div class="price f_700 f_size_40 t_color2"></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Only 2 Operators</li>
                            <li><i class="ti-check"></i>Abandoned Cart</li>
                            <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>

                        </ul>
                        <a href="#" class="price_btn btn_hover">Get Offer</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="hosting_title security_title text-center">
        <h2 style="color:#0D4975;">statistics</h2>
    </div>
    <div class="event_fact_area sec_pad">
        <div class="container">

            <div class=" seo_fact_info row">
                <div class=" seo_fact_item wow fadeIn col-md-3">
                    <div class="text">
                        <div class="counter ">693</div>
                        <p>Happy Clients</p>
                        <span>Statistics of the number of jewelry requests on the site</span>

                    </div>
                </div>
                <div class=" seo_fact_item wow fadeIn col-md-3" data-wow-delay="0.3s">
                    <div class="text">
                        <div class="counter ">276</div>
                        <p>Projects</p>
                        <span>Statistics of the number of jewelry requests on the site</span>
                    </div>
                </div>
                <div class=" seo_fact_item wow fadeIn col-md-3" data-wow-delay="0.6s">
                    <div class="text">
                        <div class="counter ">102</div>
                        <p>SEO Winners</p>
                        <span>Statistics of the number of jewelry requests on the site</span>

                    </div>
                </div>
                <div class="seo_fact_item last wow fadeIn col-md-3 " data-wow-delay="0.9s">
                    <div class="text">
                        <div class="counter ">93</div>
                        <p>Experience</p>
                        <span>Statistics of the number of jewelry requests on the site</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $("#HomeNav").addClass("active");
        });
    </script>
}