<section class="contact_info_area sec_pad bg_color">
    <div class="container">

        <div class="contact_form">
            <form class="contact_form_box" method="post" id="contactForm" novalidate="novalidate">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <ul class="nav nav-tabs software_service_tab" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="de-tab" data-toggle="tab" href="#de" role="tab" aria-controls="de" aria-selected="false">Function Locations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="saas-tab" data-toggle="tab" href="#saas" role="tab" aria-controls="saas" aria-selected="false">Equipments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="monitor-tab" data-toggle="tab" href="#monitor" role="tab" aria-controls="monitor" aria-selected="true">Order List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="ma-tab" data-toggle="tab" href="#ma" role="tab" aria-controls="ma" aria-selected="true">My Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="secure-tab" data-toggle="tab" href="#secure" role="tab" aria-controls="secure" aria-selected="false" style="color:#950000;">LogOut</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="tab-content software_service_tab_content">
                                <div class="tab-pane fade active show" id="de" role="tabpanel" aria-labelledby="de-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Function Locations</h2>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group text_box">
                                                <table class="table ">

                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                CH-OCT-G.C.C.-B0001
                                                            </td>
                                                            <td class="bg-td">
                                                                Chiller - 6 Octobar -G.C.C - B1
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                CH-OCT-G.C.C.-B0002
                                                            </td>
                                                            <td class="bg-td">
                                                                Chiller - 6 Octobar -G.C.C - B2
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                FM-CAI-ECM-44-B0022
                                                            </td>
                                                            <td class="bg-td">
                                                                Facility   - New Cairo -ECM- B22
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="saas" role="tabpanel" aria-labelledby="saas-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Equipments</h2>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group text_box">
                                                <table class="table ">

                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                100801
                                                            </td>
                                                            <td class="bg-td">
                                                                HAU-CGN630V
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                100802
                                                            </td>
                                                            <td class="bg-td">
                                                                HAU-CGN635V
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                100981
                                                            </td>
                                                            <td class="bg-td">
                                                                Fire Hose Station 12
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="monitor" role="tabpanel" aria-labelledby="monitor-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="job_listing">
                                                <h3 class="f_p f_size_24 l_height28 f_500 t_color3 mb-30">Order List</h3>

                                                <div class="h_price_inner">
                                                    <ul class="nav nav-tabs hosting_tab" id="myTab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Request(4)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Completed(2)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Pending(2) </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content h_price_tab" id="myTabContent">
                                                        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                            <div class="h_price_body">
                                                                <div class="price_head">
                                                                    <div class="p_head">
                                                                        <h5>Order Number</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Date&Time</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Description</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Notification Type</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Priority</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        Status

                                                                    </div>
                                                                </div>
                                                                <div class="h_price_body">
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31002000
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                2.4.2024 / 10:20:11 AM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                انقطاع التيار الكهربائي العمومي
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Electricity Breckdown
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:red">
                                                                                    High
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5><span>Closed </span></h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31000250
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                10.4.2024  / 5:30:20 PM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                تعطل مفاجئ في المولد الرئيسي
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Emergency Notification
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:red">
                                                                                    High
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5>
                                                                                <span>
                                                                                    in Progress
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31002001
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                12.4.2024 / 10:20:11 AM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                صيانة وقائية للمولد الرئيسي
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Previntive Maintainance
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:green">
                                                                                    Medium
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5><span>Closed </span></h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31002002
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                20.4.2024 / 10:20:11 AM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                تغيير الويت قبل ميعاده  كا إجراء تصحيح
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Corrective Maintainance
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:green">
                                                                                    Medium
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5>
                                                                                <span>
                                                                                    in Progress
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                            <div class="h_price_body">
                                                                <div class="price_head">
                                                                    <div class="p_head">
                                                                        <h5>Order Number</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Date&Time</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Description</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Notification Type</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Priority</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        Status

                                                                    </div>
                                                                </div>
                                                                <div class="h_price_body">
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31002000
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                2.4.2024 / 10:20:11 AM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                انقطاع التيار الكهربائي العمومي
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Electricity Breckdown
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:red">
                                                                                    High
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5><span>Closed </span></h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31002001
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                12.4.2024 / 10:20:11 AM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                صيانة وقائية للمولد الرئيسي
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Previntive Maintainance
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:green">
                                                                                    Medium
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5><span>Closed </span></h5>
                                                                        </div>
                                                                    </div>
                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                                            <div class="h_price_body">
                                                                <div class="price_head">
                                                                    <div class="p_head">
                                                                        <h5>Order Number</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Date&Time</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Description</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Notification Type</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        <h5>Priority</h5>
                                                                    </div>
                                                                    <div class="p_head">
                                                                        Status

                                                                    </div>
                                                                </div>
                                                                <div class="h_price_body">
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31000250
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                10.4.2024  / 5:30:20 PM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                تعطل مفاجئ في المولد الرئيسي
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Emergency Notification
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:red">
                                                                                    High
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5>
                                                                                <span>
                                                                                    in Progress
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="h_p_list">
                                                                        <div class="h_price_item memory" data-title="Memory">
                                                                            <h5>
                                                                                31002002
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Vcpus">
                                                                            <h5>
                                                                                20.4.2024 / 10:20:11 AM
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Ssd disk">
                                                                            <h5>
                                                                                تغيير الويت قبل ميعاده  كا إجراء تصحيح
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Transfer">
                                                                            <h5>
                                                                                Corrective Maintainance
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item" data-title="Price">
                                                                            <h5>
                                                                                <span style="color:green">
                                                                                    Medium
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                        <div class="h_price_item c_width">
                                                                            <h5>
                                                                                <span>
                                                                                    in Progress
                                                                                </span>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ma" role="tabpanel" aria-labelledby="ma-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">My Info</h2>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group text_box">
                                                <table class="table ">

                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Customers Name
                                                            </td>
                                                            <td class="bg-td">
                                                                G.C.C
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Contact Person
                                                            </td>
                                                            <td class="bg-td">
                                                                Eng. Ahmed Khaled
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Contact No.
                                                            </td>
                                                            <td class="bg-td">
                                                                01112999821
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Contracts</h2>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="accordion" id="accordionExample1">
                                                <div class="accordion-item contract-accordion-item">
                                                    <h2 class="accordion-header" id="heading1">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                            <h5 style="color:rgba(0, 0, 0, 1);">
                                                                Contract: 640000011
                                                            </h5>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample1">
                                                        <div class="accordion-body">
                                                            <div class="accordion" id="accordionExample">
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="headingOne">
                                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                            <h5 style="color:rgba(0, 0, 0, 1);">
                                                                                PG-OBR-A.M.C.-MITSU
                                                                                <p style="color:rgba(13, 73, 117, 1);">Generators - Cairo - Dana Gas - Mitsubishi</p>
                                                                            </h5>
                                                                        </button>
                                                                    </h2>
                                                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                                        <div class="accordion-body">
                                                                            <div class="inner-collapse">
                                                                                <h6 style="color:rgba(0, 0, 0, 1);">100321</h6>
                                                                                <p style="color:rgba(12, 88, 29, 1);">MGU-31BLBLC</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="headingTwo">
                                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                            <h5 style="color:rgba(0, 0, 0, 1);">
                                                                                CH-OCT-G.C.C.-B0002
                                                                                <p style="color:rgba(13, 73, 117, 1);">Chiller - 6 Octobar -G.C.C - B2</p>
                                                                            </h5>
                                                                        </button>
                                                                    </h2>
                                                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                                        <div class="accordion-body">
                                                                            <div class="inner-collapse">
                                                                                <h6 style="color:rgba(0, 0, 0, 1);">100802</h6>
                                                                                <p style="color:rgba(12, 88, 29, 1);">HAU-CGN635V</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="headingThree">
                                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                            <h5 style="color:rgba(0, 0, 0, 1);">
                                                                                FM-CAI-ECM-44-B0022
                                                                                <p style="color:rgba(13, 73, 117, 1);">Facility   - New Cairo -ECM- B22</p>
                                                                            </h5>
                                                                        </button>
                                                                    </h2>
                                                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                                        <div class="accordion-body">
                                                                            <div class="inner-collapse">
                                                                                <h6 style="color:rgba(0, 0, 0, 1);">100981</h6>
                                                                                <p style="color:rgba(12, 88, 29, 1);">Fire Hose Station 12</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>




                </div>
            </form>

        </div>
    </div>
</section>


@section Scripts {
    <script>
        $(function () {
            $("a[href$='/Home/Index']").parent().removeClass("active");
            $("a[href$='/Home/MyAccount']").addClass("active");
            $("a[href$='/Home/MyAccount']").parent().addClass("active");
        });
    </script>
}