<section class="agency_banner_area bg_color">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Request Order</li>
                </ol>
            </nav>

        </div>

    </div>

</section>
<section class="contact_info_area bg_color">
    <div class="container">

        <div class="contact_form">
            <form class="contact_form_box" method="post" id="contactForm" novalidate="novalidate">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 row">


                        <div class="col-lg-6">
                            <div class="col-md-12">
                                <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Branches</h2>
                            </div>
                            <div class="form-group text_box">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Select Branch</option>
                                    <option value="1">Branch 1</option>
                                    <option value="2">Branch 2</option>
                                    <option value="3">Branch 3</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="col-md-12">
                                <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Function Locations</h2>
                            </div>
                            <div class="form-group text_box">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Select Function Location</option>
                                    <option value="1">PG - CAI - DANGAS - MITSU</option>
                                    <option value="2">
                                        CH-OCT-G.C.C.-B0001
                                    </option>
                                    <option value="3">
                                        CH-OCT-G.C.C.-B0002
                                    </option>
                                    <option value="4">
                                        FM-CAI-ECM-44-B0022
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="col-md-12">
                                <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Equipments</h2>
                            </div>
                            <div class="form-group text_box">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Select Equipment</option>
                                    <option value="1">
                                        HAU-CGN630V
                                    </option><option value="2">
                                        HAU-CGN635V
                                    </option><option value="3">
                                        Fire Hose Station 12
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="col-md-12">
                                <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Priority</h2>
                            </div>
                            <div class="form-group text_box">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Select Priority</option>
                                    <option value="1">
                                        High
                                    </option>
                                    <option value="2">Medium</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Upload File</h2>
                                </div>
                                <div class="preview-zone hidden">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <div><b>Preview</b></div>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-danger btn-xs remove-preview">
                                                    <i class="fa fa-times"></i> Reset This Form
                                                </button>
                                            </div>
                                        </div>
                                        <div class="box-body"></div>
                                    </div>
                                </div>
                                <div class="dropzone-wrapper">
                                    <div class="dropzone-desc">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                        <p>Choose an image file or drag it here.</p>
                                    </div>
                                    <input type="file" name="img_logo" class="dropzone">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                          <button type="submit" class="btn btn-primary pull-right">Upload</button>
                        </div> -->

                        <div class="col-lg-12">
                            <div class="col-md-12">
                                <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_20 mb_40 head-control">Request Description</h2>
                            </div>
                            <div class="form-group text_box">
                                <textarea rows="2" cols="3" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn_three btn-done">Done</button>
                    </div>


                </div>
            </form>

        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(function () {
            $("a[href$='/Home/Index']").parent().removeClass("active");
            $("a[href$='/Home/newReq']").addClass("active");
            $("a[href$='/Home/newReq']").parent().addClass("active");
        });
    </script>
}